In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

train_data = pd.read_csv('./train.csv')
test_data = pd.read_csv('./test.csv')
total_data = pd.concat([train_data, test_data])

In [18]:
total_data = total_data.drop(columns=['Cabin', 'PassengerId'])

In [19]:
total_data['Title'] = total_data.Name.str.split(',', expand=True)[1].str.split('.', expand=True)[0]
title_age = total_data[['Sex', 'Title', 'Age']]

In [20]:
total_data = total_data.drop(columns='Name')

In [21]:
##### fill in the missing age #####
title_count = title_age.groupby(['Sex', 'Title']).count()

In [22]:
title_age = title_age.groupby(['Title', 'Sex'])['Age'].mean().unstack()

In [23]:
# find the title of NaN Age
def check_title_age():
    missing_list = []
    for index in total_data.index:
        if (pd.isna(total_data.iloc[index]['Age']))== True:
            missing_list.append(total_data.iloc[index]['Title'])
    missing_list = pd.Series(missing_list)
    missing_list = missing_list.value_counts().reset_index()
    missing_list.columns = ['title', 'count']
    for index in missing_list.index:
        print("{} has missed {} age value".format(missing_list.iloc[index]['title'],
                                                  missing_list.iloc[index]['count']))
check_title_age()

 Mr has missed 166 age value
 Miss has missed 58 age value
 Mrs has missed 28 age value
 Master has missed 7 age value
 Dr has missed 1 age value

In [24]:
# fill in age value
def fillin_missing_age():
    def title_data():
        total_data['Title'] = total_data.Title.replace(['Miss', 'Mlle', 'Mme', 'Ms', 'Lady'], 'Mrs', regex=True)
        re_title_age = total_data[['Title', 'Age']].dropna().groupby('Title', as_index=False)['Age'].mean()
        return re_title_age
    re_title_age = title_data()
    for index in total_data[total_data['Age'].isnull()].index:
        title = total_data.iloc[index]['Title']
        age = re_title_age.loc[re_title_age['Title'] == str(title),
                               'Age']
        total_data.loc[index,'Age'] = int(age)
fillin_missing_age()

In [25]:
##### fill in missing fare
def fillin_missing_fare():
    fare_data = total_data[['Pclass', 'Embarked', 'Fare']].groupby(['Pclass', 'Embarked'])['Fare'].mean().unstack()
    fare = 0
    for index in total_data[total_data.Fare.isnull()].index:
        family = total_data.iloc[index]['SibSp'] + total_data.iloc[index]['Parch']
        ticket = total_data.iloc[index]['Ticket']
        if family == 0:
            person_class = total_data.iloc[index]['Pclass']
            person_embarked = total_data.iloc[index]['Embarked']
            fare = fare_data.loc[person_class, person_embarked]
        else:
             fare = total_data[(total_data['Ticket']==ticket) & 
                             total_data['Fare'].isnull() == False]['Fare']
    total_data.loc[index, 'Fare'] = fare
fillin_missing_fare()

In [26]:
##### count family size
def family_count():
    for index in total_data.index:
        family = total_data.iloc[index]['SibSp'] + total_data.iloc[index]['Parch']
        total_data.loc[total_data.index==index, 'Family_count'] = family
family_count()

In [27]:
##### count connected tickets 
def connected_ticket_count():
    connected_count = total_data.groupby('Ticket', as_index=False).size()
    for index in connected_count.index:
        ticket = connected_count.iloc[index]['Ticket']
        counts = connected_count.iloc[index]['size'] - 1
        total_data.loc[total_data.Ticket == str(ticket), 'Relatives'] = counts
connected_ticket_count()

In [28]:
##### 1 => female, 0 => male #####
total_data['Sex'] = total_data['Sex'].map({
    'female': 1,
    'male': 0
}).astype(int)

In [29]:
##### enconding embarked data #####
encoded_embarked = pd.get_dummies(total_data['Embarked'], prefix='Embared')

In [30]:
total_data = pd.concat([total_data, encoded_embarked], axis=1)
total_data = total_data.drop(columns=['Embarked', 'Ticket', 'Title', 'SibSp', 'Parch'])